* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #808080;
  margin: 0;
}

.success-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.success-modal > div {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.site-logo img {
  font-size: 2rem;
  height: auto;
  width: 100px;
}

.nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: none;
}

.nav li:hover {
  background-color: green;
}

.header {
  box-sizing: border-box;
  height: 550px;
  width: 100%;
  background-image: url("./Assets/header.png");
  background-position: center;
  margin-top: 0;
  overflow: auto;
  color: green;
  text-align: center;
  justify-content: center;
}

.auth-form-container,
.login-form,
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 750px;
  width: 100%;
  background-color: gray;
  transform: translate(-50%), (-50%);
}

label {
  padding: 0.25rem 0;
  text-align: left;
}

input {
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: green;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
}

/* Change your disabled button text color*/
button:disabled,
button[disabled] {
  color: white;
  border-radius: 10px;
}

buttonc {
  border: none;
  background-color: rgba(243, 25, 25, 0.665);
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.link-button {
  background: none;
  color: black;
  text-decoration: underline;
  background-color: green;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}

form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #00853e;
}

form .policy {
  display: flex;
  align-items: center;
}

form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #00853e;
  cursor: pointer;
}

.input-box.button input:hover {
  background: #72b844;
}

form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

.message-container {
  text-align: center; /* Center the message horizontally */
  margin-top: 15px; /* Add space between the form and message */
}

.success-message {
  background-color: #4caf50; /* Green background color */
  color: #fff; /* White text color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  background-image: url(./Assets/fill-1.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 64px;
}

.boxes>* {
  margin-top: 5vw;
  /* Adjust as needed */
}

.flex-container > * {
  margin-top: 5%;
}

.boxes > * {
  margin-top: 5vw;
}

.flex-container .box1-container {
  left: 602px;
  position: absolute;
  top: 174px;
  width: 317px;
}

.flex-container .box2-container {
  left: 125px;
  position: absolute;
  top: 180px;
  width: 316px;
}

.flex-container .box3-container {
  left: 1072px;
  position: absolute;
  top: 180px;
  width: 316px;
}

.flex-container .box1-container,
.flex-container .box2-container,
.flex-container .box3-container {
  height: 30vh;
}

.flex-container .white-background-1 {
  height: 271px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 277px;
}

.flex-container .white-background-2 {
  height: 271px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 277px;
}

.flex-container .white-background-3 {
  height: 271px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 277px;
}

.flex-container .request-ride-heading {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 326px;
  width: 313px;
}

.flex-container .request-ride-p {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 385px;
  width: 282px;
}

.flex-container .city-driver-img {
  height: 277px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 283px;
}

.flex-container .confirm-driver-heading {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 320px;
  white-space: nowrap;
  width: 312px;
}

.flex-container .confirm-driver-p {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 392px;
  width: 282px;
}

.flex-container .city-skyline-img {
  height: 223px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 259px;
}

.flex-container .track-ride-heading {
  color: #262628;
  font-family: "SF UI Display-Semibold", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 324px;
  white-space: nowrap;
  width: 312px;
}

.flex-container .track-ride-p {
  color: #262628;
  font-family: "SF UI Display-Regular", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 384px;
  width: 282px;
}

.flex-container .navigation-bro {
  height: 223px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 261px;
}

.footer-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: #333;
  margin-top: auto;
}

.footer-section-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unt-rides {
  color: white;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .wrapper {
    top: 20%;
    max-width: 90%;
  }

  .flex-container {
    width: 100%;
    height: auto;
  }
}
